.clubs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 60px;

    .each-club {
        width: 20%;
        margin: 20px;
        padding: 10px;

        img {
            width: 100%;
            height: 200px
        };

        h4 {
            font-family: "Courier New", Courier, monospace;
        }
    }

    .each-club:hover {
        background-color: #F0EDE7;
    }
}